/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* font-family: "PFDinDisplayPro-Regular"; */
@font-face {
  font-family: "PFDinDisplayPro-Regular";
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.eot");
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.woff") format("woff"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PFDinDisplayPro-Medium"; */
@font-face {
  font-family: "PFDinDisplayPro-Medium";
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.eot");
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.woff") format("woff"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PFDinDisplayPro-Bold"; */
@font-face {
  font-family: "PFDinDisplayPro-Bold";
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.eot");
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.woff") format("woff"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Inconsolata-LGC"; */
@font-face {
  font-family: "Inconsolata-LGC";
  src: url("../font/Inconsolata-LGC/inconsolatalgc.eot");
  src: url("../font/Inconsolata-LGC/inconsolatalgc.eot?#iefix") format("embedded-opentype"), url("../font/Inconsolata-LGC/inconsolatalgc.woff") format("woff"), url("../font/Inconsolata-LGC/inconsolatalgc.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Inconsolata-LGC-Bold"; */
@font-face {
  font-family: "Inconsolata-LGC-Bold";
  src: url("../font/Inconsolata-LGC/inconsolatalgcbold.eot");
  src: url("../font/Inconsolata-LGC/inconsolatalgcbold.eot?#iefix") format("embedded-opentype"), url("../font/Inconsolata-LGC/inconsolatalgcbold.woff") format("woff"), url("../font/Inconsolata-LGC/inconsolatalgcbold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}

.section {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vmin;
  min-height: 740px;
  min-width: 1024px;
  margin-bottom: 60px;
  overflow: hidden;
}

.section:first-child {
  margin-top: 60px;
}

.section:last-child {
  margin-bottom: 0;
}

.section__content {
  width: 960px;
  margin: 0 auto;
}

.section__title {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  padding-top: 110px;
  margin-bottom: 43px;
  margin-right: 52%;
  text-align: right;
  font-family: "PFDinDisplayPro-Bold", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 60px;
}

.section__title:after {
  content: "";
  position: absolute;
  top: 80%;
  left: 103%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0076fe;
}

section > article {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

/* font-family: "PFDinDisplayPro-Regular"; */
@font-face {
  font-family: "PFDinDisplayPro-Regular";
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.eot");
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.woff") format("woff"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PFDinDisplayPro-Medium"; */
@font-face {
  font-family: "PFDinDisplayPro-Medium";
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.eot");
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.woff") format("woff"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PFDinDisplayPro-Bold"; */
@font-face {
  font-family: "PFDinDisplayPro-Bold";
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.eot");
  src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.woff") format("woff"), url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Inconsolata-LGC"; */
@font-face {
  font-family: "Inconsolata-LGC";
  src: url("../font/Inconsolata-LGC/inconsolatalgc.eot");
  src: url("../font/Inconsolata-LGC/inconsolatalgc.eot?#iefix") format("embedded-opentype"), url("../font/Inconsolata-LGC/inconsolatalgc.woff") format("woff"), url("../font/Inconsolata-LGC/inconsolatalgc.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Inconsolata-LGC-Bold"; */
@font-face {
  font-family: "Inconsolata-LGC-Bold";
  src: url("../font/Inconsolata-LGC/inconsolatalgcbold.eot");
  src: url("../font/Inconsolata-LGC/inconsolatalgcbold.eot?#iefix") format("embedded-opentype"), url("../font/Inconsolata-LGC/inconsolatalgcbold.woff") format("woff"), url("../font/Inconsolata-LGC/inconsolatalgcbold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 32px;
  line-height: 60px;
}

h2 {
  font-size: 24px;
  line-height: 60px;
}

.page-header {
  margin-bottom: 0;
  background-color: #cdcdcd;
  color: white;
  font-family: "PFDinDisplayPro-Bold", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 48px;
}

.intro {
  width: 960px;
  margin: 0 auto;
  font-family: "PFDinDisplayPro-Bold", Arial, Helvetica, sans-serif;
}

.intro__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  text-align: center;
  color: white;
  font-family: "PFDinDisplayPro-Bold", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 48px;
}

.intro__text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #0076fe;
  font-family: "PFDinDisplayPro-Bold", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 48px;
}

.intro__text:nth-of-type(1) {
  position: relative;
  margin-bottom: 75px;
}

.intro__text:nth-of-type(1)::after {
  content: "&";
  position: absolute;
  top: 62px;
  left: 48%;
  color: white;
  font-family: "PFDinDisplayPro-Bold", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 48px;
}

.intro__descr {
  margin: 0;
  padding: 0;
  margin-top: 12px;
  color: white;
  font-family: "PFDinDisplayPro-Bold", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 48px;
}

.intro__descr--right {
  margin-bottom: 63px;
  text-align: right;
}

.intro__descr--highlight {
  color: #0076fe;
}

.intro__contact {
  color: white;
  padding-left: 145px;
  padding-bottom: 120px;
  font-family: "Inconsolata-LGC-Bold", Courier, monospace;
  font-size: 20px;
  line-height: 30px;
}

.intro__email {
  color: inherit;
  text-decoration: none;
  margin-left: 330px;
  color: white;
  font-family: "Inconsolata-LGC-Bold", Courier, monospace;
  font-size: 20px;
  line-height: 30px;
}

.intro__locate,
.intro__email {
  position: relative;
  display: inline-block;
}

.intro__locate::before,
.intro__email::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 0;
  width: 48px;
  height: 4px;
  background-color: #0076fe;
}

.intro__email::before {
  left: 200px;
}

.main-nav {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  text-transform: uppercase;
  background-color: #cdcdcd;
  color: white;
  font-family: "Inconsolata-LGC-Bold", Courier, monospace;
  font-size: 16px;
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.main-nav__item {
  display: inline-block;
  vertical-align: baseline;
  min-width: 120px;
  height: 60px;
  padding: 0 15px;
  margin-right: 20px;
}

.main-nav__item a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 60px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__item--active {
  background-color: white;
}

.main-nav__item--active a::before {
  color: #cdcdcd;
}

.features {
  display: block;
  color: #0076fe;
  font-family: "Inconsolata-LGC-Bold", Courier, monospace;
  font-size: 24px;
  line-height: 1.2;
}

.features::after {
  content: "";
  display: table;
  clear: both;
}

.features__title {
  color: #cdcdcd;
}

.features__title:nth-of-type(2) {
  padding-top: 80px;
}

.features__item-wrap {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.features__item {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 150px;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  margin: 0 20px;
  color: #cdcdcd;
}

.features__icon {
  display: block;
  width: 132px;
  height: 132px;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 6px solid #0076fe;
}

.features__icon--tilt {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.features__img {
  position: absolute;
  top: 44px;
  margin: 0 auto;
  color: #0076fe;
}

.features__img--progressive {
  left: 90px;
}

.features__img--adaptive {
  top: 36px;
  left: 18px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.features__img--sparks {
  left: 15px;
}

.features__img--mobile {
  left: 120px;
}

.features__text {
  text-align: center;
  color: #0076fe;
}

@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  50% {
    left: -150%;
  }
  100% {
    left: 0;
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  50% {
    left: -150%;
  }
  100% {
    left: 0;
  }
}

.skills {
  position: relative;
  width: 100%;
  height: 47px;
  margin-bottom: 100px;
  overflow: hidden;
}

.skills__scroll {
  position: absolute;
  display: block;
  height: 47px;
  -webkit-animation: marquee 30s linear infinite;
          animation: marquee 30s linear infinite;
}

.portfolio {
  background-color: #0076fe;
  color: white;
}

.portfolio__content {
  margin-bottom: 100px;
}

.portfolio__title {
  margin-bottom: 50px;
  color: white;
}

.portfolio__title::after {
  background-color: white;
}

.slider {
  position: relative;
  width: 940px;
  min-height: 500px;
  margin-bottom: 30px;
}

.slider input[type="radio"] {
  display: none;
}

.slider__active {
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider__active label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls label {
  cursor: pointer;
}

.slider__controls label::before {
  content: "";
  position: absolute;
  top: 44%;
  left: -77px;
  border: 10px solid transparent;
  border-right: 10px solid white;
}

.slider__controls label::after {
  content: "";
  position: absolute;
  top: 44%;
  right: -18px;
  border: 10px solid transparent;
  border-left: 10px solid white;
}

.slider__items {
  overflow: hidden;
}

.slide {
  display: none;
  min-height: 440px;
  -webkit-transition: all 4s linear;
          transition: all 4s linear;
}

.slide::after {
  content: "";
  display: table;
  clear: both;
}

.slide__title {
  margin: 0;
  padding: 0;
  margin-left: 52%;
  margin-bottom: 40px;
  text-align: left;
  font-family: "Inconsolata-LGC-Bold", Courier, monospace;
  font-size: 48px;
  line-height: 48px;
}

.slide__title a {
  color: inherit;
  text-decoration: none;
}

.slide__big-col {
  width: 540px;
}

.slide__small-col {
  width: 380px;
}

.slide__img,
.slide__details {
  display: inline-block;
  vertical-align: top;
}

.slide__details {
  width: 320px;
  margin-top: 90px;
}

.slide__text {
  margin-bottom: 40px;
  font-family: "PFDinDisplayPro-Regular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.slide__btn {
  padding: 5px 10px;
  border: 1px solid white;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: "PFDinDisplayPro-Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.slide:nth-child(odd) .slide__img {
  float: left;
  margin-right: 40px;
}

.slide:nth-child(odd) .slide__details {
  float: right;
}

.slide:nth-child(even) .slide__img {
  float: right;
}

.slide:nth-child(even) .slide__details {
  float: left;
  margin-right: 40px;
  margin-left: 35px;
}

#btn-1:checked ~ .slider__items .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slider__items .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slider__items .slide:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .slider__active label[for="btn-1"],
#btn-2:checked ~ .slider__active label[for="btn-2"],
#btn-3:checked ~ .slider__active label[for="btn-3"] {
  background-color: white;
}

@-webkit-keyframes shake {
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes shake {
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.contacts {
  margin-bottom: 0;
  background-color: #cdcdcd;
  color: white;
}

.contacts__feedback-form {
  width: 440px;
  height: 240px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 30px 20px;
  background-color: white;
  font-size: 0;
}

.feedback-form__title {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.feedback-form__half-width {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 50px;
  margin-bottom: 30px;
}

.feedback-form__half-width:first-of-type {
  margin-right: 20px;
}

.feedback-form__text-field {
  padding: 5px;
  border: 0;
  outline: 0;
  width: 194px;
  height: 44px;
  border: 3px solid #0076fe;
  color: #0076fe;
  font-family: "PFDinDisplayPro-Regular", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.feedback-form__text-field:hover {
  background-color: rgba(0, 118, 254, 0.2);
}

.feedback-form__text-field:focus {
  background-color: #0076fe;
  color: white;
}

.feedback-form__whole-width {
  width: 425px;
  height: 65px;
  resize: none;
}

.feedback-form__btn {
  position: relative;
  width: 0;
  height: 0;
  margin-left: 100%;
  margin-top: 55px;
  -webkit-animation: shake 1s infinite linear;
          animation: shake 1s infinite linear;
}

.feedback-form__btn::after {
  content: "";
  width: 102px;
  height: 75px;
  position: absolute;
  top: -20px;
  left: -70px;
  background: url(../img/icon/initial_icon/icon__airplane.png) no-repeat;
}

.page-footer {
  width: 100%;
  height: 110px;
  padding: 40px 20px;
  text-align: center;
  background-color: white;
  color: #0076fe;
  font-family: "Inconsolata-LGC-Bold", Courier, monospace;
  font-size: 16px;
}

.page-footer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.page-footer__item {
  position: relative;
  display: inline-block;
}

.page-footer__item:not(:first-child)::after {
  content: "/";
  position: absolute;
  top: 0;
  left: -20px;
}

.page-footer__item ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.page-footer__link {
  margin-right: 30px;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 118, 254, 0.5);
}

/*# sourceMappingURL=style.css.map */