/* font-family: "PFDinDisplayPro-Regular"; */
@font-face {
    font-family: "PFDinDisplayPro-Regular";
    src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.eot");
    src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.eot?#iefix")format("embedded-opentype"),
    url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.woff") format("woff"),
    url("../font/PFDinDisplayPro/PFDinDisplayPro-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFDinDisplayPro-Medium"; */
@font-face {
    font-family: "PFDinDisplayPro-Medium";
    src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.eot");
    src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.eot?#iefix")format("embedded-opentype"),
    url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.woff") format("woff"),
    url("../font/PFDinDisplayPro/PFDinDisplayPro-Medium.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PFDinDisplayPro-Bold"; */
@font-face {
    font-family: "PFDinDisplayPro-Bold";
    src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.eot");
    src: url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.eot?#iefix")format("embedded-opentype"),
    url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.woff") format("woff"),
    url("../font/PFDinDisplayPro/PFDinDisplayPro-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Inconsolata-LGC"; */
@font-face {
    font-family: "Inconsolata-LGC";
    src: url("../font/Inconsolata-LGC/inconsolatalgc.eot");
    src: url("../font/Inconsolata-LGC/inconsolatalgc.eot?#iefix")format("embedded-opentype"),
    url("../font/Inconsolata-LGC/inconsolatalgc.woff") format("woff"),
    url("../font/Inconsolata-LGC/inconsolatalgc.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Inconsolata-LGC-Bold"; */
@font-face {
    font-family: "Inconsolata-LGC-Bold";
    src: url("../font/Inconsolata-LGC/inconsolatalgcbold.eot");
    src: url("../font/Inconsolata-LGC/inconsolatalgcbold.eot?#iefix")format("embedded-opentype"),
    url("../font/Inconsolata-LGC/inconsolatalgcbold.woff") format("woff"),
    url("../font/Inconsolata-LGC/inconsolatalgcbold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
