////////////////////// Most useful ////////////////////////

@mixin container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

////////////////////// Resets ////////////////////////
@mixin ul-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
}

@mixin indent-reset {
  margin: 0;
  padding: 0;
}

//////////////////// Typography //////////////////////

@mixin font($fs-d4, $fs-d4, $fs-d4) {
  font: {
    family: $fs-d4;
    size: $fs-d4; 
    weight: normal;
  }
  line-height: $fs-d4;
}