html,
body {
   width: 100%;
   height: 100%;
   
   padding: 0;
   margin: 0;
   
   overflow-x: hidden;
   
   color: $white;
   
   
   font-family: $gotham-reg; 
   font-size: 18px;
   line-height: 1.2em;
   font-weight: normal;
} 

.section {
  display: -webkit-flex;
      display: -ms-flex;
          display: flex;
  
  -webkit-align-items: center;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
  
  width: 100%;
  min-height: 568px;
  margin-bottom: 60px;
  
  &:first-child {
    margin-top: 60px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__content {
    @include container;
  }

  &__title {
    flex: 1 1 100%;
    
    padding-top: 110px;
    // margin-top: 80px;
    margin-bottom: 80px;
        
    text-align: center;
    
    color: $gray-dark;
    
    font-family: $gotham-lig;
    }
}

section>article {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}