@import "normalize";
@import "fonts";
@import "variables";
@import "mixins";
@import "scaffolding";
@import "fonts";
@import "type";

@import "components/header";
@import "components/intro";
@import "components/about";
@import "components/features";
@import "components/portfolio";
@import "components/footer";






.about {
    width: 1200px;
    
    margin-top: -115px;
    margin-bottom: 115px;
    
    background-color: #E1E8F3;
    background-image: linear-gradient(5deg, #fff 70%, transparent 70%);
    background-position: 0 150%;
    background-size: 100% 300px;
    background-repeat: no-repeat;
    border-top: 3px solid white;
    color: $gray;
    
    -webkit-transform: skewY(-5deg);
       -moz-transform: skewY(-5deg);
        -ms-transform: skewY(-5deg);
         -o-transform: skewY(-5deg);
            transform: skewY(-5deg);
    &__inner {
        padding: 100px;
        -webkit-transform: skewY(5deg);
           -moz-transform: skewY(5deg);
            -ms-transform: skewY(5deg);
             -o-transform: skewY(5deg);
                transform: skewY(5deg);
    }
    &__wrap {
      display: none;
    }
    &__photo {
        margin-left: 45%;
    }
    &__greating {
        text-align: right;
        
        font-family: $gotham-med;
        font-size: 50px;
        line-height: 1.2;
        
        
        -webkit-transform: skewY(-5deg);
           -moz-transform: skewY(-5deg);
            -ms-transform: skewY(-5deg);
             -o-transform: skewY(-5deg);
                transform: skewY(-5deg);
    }
    &__content {
    }
}