/////////////////// font ///////////////////////
/////////////////////////////////////////////////


/* font-family: "GothamPro"; */
@font-face {
    font-family: "GothamPro";
    src: url("../font/GothamPro/GothamPro.eot");
    src: url("../font/GothamPro/GothamPro.eot?#iefix")format("embedded-opentype"),
    url("../font/GothamPro/GothamPro.woff") format("woff"),
    url("../font/GothamPro/GothamPro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../font/GothamProBold/GothamProBold.eot");
    src: url("../font/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../font/GothamProBold/GothamProBold.woff") format("woff"),
    url("../font/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
    font-family: "GothamProMedium";
    src: url("../font/GothamProMedium/GothamProMedium.eot");
    src: url("../font/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../font/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../font/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
    font-family: "GothamProLight";
    src: url("../font/GothamProLight/GothamProLight.eot");
    src: url("../font/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../font/GothamProLight/GothamProLight.woff") format("woff"),
    url("../font/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/////////////////// VARIABLES ////////////////////
/////////////////////////////////////////////////

//fonts
$gotham-reg: "GothamPro", Arial, Helvetica, sans-serif;
$gotham-bol: "GothamProBold", Arial, Helvetica, sans-serif;
$gotham-med: "GothamProMedium", Arial, Helvetica, sans-serif;
$gotham-lig: "GothamProLight", Arial, Helvetica, sans-serif;

// colors
$rose: #F7CAC9;
// $serenity: #91A8D0;
$serenity: #CBD5E6;
$peach: #F7786B;
$gray: #9896A4;
$white: #ffffff;
$black: #000000;

//grid
$col-3: 100%/3;







body {
   width: 100%;
   height: 100%;
   
   color: $white;
   
   
   font-family: $gotham-reg; 
   font-size: 18px;
   line-height: 1.2em;
   font-weight: normal;
} 
h1 {
    font-family: $gotham-bol; 
    font-size: 50px;
    line-height: 1.2;
} 
h2 {
    font-family: $gotham-med; 
    font-size: 24px;
    line-height: 1.2;
}
h3 {
    font-family: $gotham-med; 
    font-size: 32px;
    line-height: 1.2;
}




.container {
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
} 
.clearfix:after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
   margin-bottom: 60px;
   
   text-align: center; 
   text-transform: uppercase;
   
   font-family: $gotham-med;
   font-size: 18px; 
} 
.main-header--inn {
    min-height: 600px;
    
    background: url("../img/background/bg-intro.jpg") no-repeat;
}
.main-nav {
    
    margin-bottom: 170px;
    border-bottom: 1px solid $white;
    
    &__list {
        margin: 0;
        list-style: none;
    } 
    &__item:last-child {
        background-color: $white;
        
        font-family: $gotham-bol;
        a {
           color: $gray; 
        } 
    } 
    &__item {
        display: inline-block;
        vertical-align: baseline;
        
        height: 60px;
        line-height: 60px;
        padding: 0 15px;
        margin-right: 40px;
        a {
           text-decoration: none;
           color: $white; 
        } 
        a:hover {
           color: $serenity; 
        } 
    } 
    
} 
.features {
    min-height: 300px;
    background-color: $white;
    color: $gray;
    
    &__title {
        margin-bottom: 50px;
        
        text-align: center;
    }
    &__item {
        float: left;
        
        width: $col-3;
    } 
    .features__icon {
        position: relative;
        
        display: block;
        vertical-align: baseline;
        
        width: 140px;
        height: 140px;
        margin: 0 auto; 
        margin-bottom: 30px; 
        -webkit-border-radius: 100%;
                border-radius: 100%;
        
        background-color: $peach;
    }
    .features__icon:after {
        content: "";
        
        position: absolute;
        top: 20px;
        left: 20px;
        
        width: 200px;
        height: 100px;
        
        background: url("../img/icon/spritesheet.png") no-repeat;
    } 
    .features__icon--progressive:after {
     background-position: -2px -193px;
    }
    .features__icon--adaptive:after {
     margin-left: -50px;
     
     background-position: 0px -9px;
    }
    .features__icon--mobile:after {
     background-position: 25px -103px;;
    }
    &__text {
        padding: 0 80px;
        
        text-align: center;
    } 
} 


.skills {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    
    color: $black;
    
    font-family: $gotham-med;
    font-size: 40px;
    line-height: 1.2;
    &__list {
        list-style-type: none;
    } 
    &__item {
    display: inline-block;
    vertical-align: baseline;
    
    margin-right: 20px;
    }
    &__bg {
        width: 100%;
        height: 80px;
        display:inline-block;
        position: relative;
    }
    &__scroll {
        background-position: 10px 0;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 80px;
        left: 0;
        transition: all 3s ease-in 0s;
        -webkit-transition: all 3s ease-in 0s;
        -moz-transition: all 3s ease-in 0s;
        -ms-transition: all 3s ease-in 0s;
        -o-transition: all 3s ease-in 0s;
    }
} 
.skills__bg:hover .skills__scroll{
            background-position: -400px 0!important;
            }



.portfolio {
    color: $gray;
    
    &__title {
        margin-bottom: 50px;
        
        text-align: center;
    }
    &__item {
        display: inline-block;
        vertical-align: baseline;
        
    }
    &__img {
        
    }
}