//fonts

$din: "PFDinDisplayPro-Regular", Arial, Helvetica, sans-serif;
$din-med: "PFDinDisplayPro-Medium", Arial, Helvetica, sans-serif;
$din-bol: "PFDinDisplayPro-Bold", Arial, Helvetica, sans-serif;

$incon: "Inconsolata-LGC", Courier, monospace;
$incon-bol: "Inconsolata-LGC-Bold", Courier, monospace;


// colors
$gray: #cdcdcd;
$blue: #0076fe;
$pink: #f49ac1;


//grid
$col-3: 100%/3;



////////////////////////////////////////////////////////////
//////////////////////// Typography ////////////////////////
////////////////////////////////////////////////////////////

////////////////////////// font-size

$fs-l: 48px;
$fs-m: 32px;
$fs-s: 20px;
$fs-xs: 16px;


////////////////////////// line-height
$lh-l: 60px;
$lh-m: 60px;
$lh-s: 30px;





// ////////////////////// Links ////////////////////////

// $link_color: $white;
// $link_color--hover: $orange;
// $link_color--active: $red;
// $link_color--current: $dark-gray;

// $link_underline: 1px solid  $white--transparent;
// $link_underline--hover: 1px solid  $orange--transparent;
// $link_underline--active: 1px solid  $red--transparent;
// $link_underline--current: 1px solid  $dark-gray--transparent;

// $nav-link_color: ;
// $nav-link_color--hover: ;
// $nav-link_color--active: ;

// $nav-link_color--current: ;

// $nav-link_bg--xs: ;
