//fonts
$gotham-reg: "GothamPro", Arial, Helvetica, sans-serif;
$gotham-bol: "GothamProBold", Arial, Helvetica, sans-serif;
$gotham-med: "GothamProMedium", Arial, Helvetica, sans-serif;
$gotham-lig: "GothamProLight", Arial, Helvetica, sans-serif;

// colors
$rose: #F7CAC9;
$serenity-dark: #91A8D0;
$serenity: #CBD5E6;
$peach: #F7786B;
$gray: #9896A4;
$gray-dark: #505050;
$white: #ffffff;
$black: #000000;

//grid
$col-3: 100%/3;


// ////////////////////// Colors ////////////////////////

// // Text

// $white: #fff;
// $white--transparent: rgba(230, 230, 235, 0.4);

// $orange: #ffbc9e;
// $orange--transparent: rgba(249, 172, 159, 0.3);

// $red: #ec593c;
// $red--transparent: rgba(236, 89, 60, 0.3);

// $dark-gray: #333;
// $dark-gray--transparent: rgba(178, 178, 178, 0.3);

// $brown: #323;


// // Backgrounds

// $green: #849d8f;
// $blue: #8996a6;
// $light-brown: #9d8b84;


// ////////////////////// Typography ////////////////////////

// $roboto: Roboto, Arial, Helvetica, sans-serif;


// // Text

// $text_font-size--xs: 14px;
// $text_font-size--sm: 16px;
// $text_font-size--lg: 18px;

// $text_line-height--xs: 20px;
// $text_line-height--sm: 22px;
// $text_line-height--lg: 24px;


// $text_color: $white;


// // Headings

// $h1_font-size: 60px;
// $h2_font-size: 35px;
// $h3_font-size: 24px;

// $h1_line-height: 72px;
// $h2_line-height: 42px;
// $h3_line-height: 30px;

// $headings_font-family: $roboto;

// $h1_color: $white;
// $h2_color: $white;
// $h3_color: $brown;


// ////////////////////// Links ////////////////////////

// $link_color: $white;
// $link_color--hover: $orange;
// $link_color--active: $red;
// $link_color--current: $dark-gray;

// $link_underline: 1px solid  $white--transparent;
// $link_underline--hover: 1px solid  $orange--transparent;
// $link_underline--active: 1px solid  $red--transparent;
// $link_underline--current: 1px solid  $dark-gray--transparent;

// $nav-link_color: ;
// $nav-link_color--hover: ;
// $nav-link_color--active: ;

// $nav-link_color--current: ;

// $nav-link_bg--xs: ;