.about {
    position: relative;
    @include section-height;
    flex-wrap: wrap;
    background-color: $gray;
    color: white;

    &__content {
        position: relative;
        @include container;
        @include content-align;
        @include clearfix;
    }

    &__inner {
        position: relative;
        width: 100%;
        padding: 15px;
        background: #fff;
        border: 6px solid $blue;
        color: $blue;
    }

    &__btn {
        position: absolute;
        right: -20px;
        bottom: -40px;
        z-index: 100;
        width: 102px;
        height: 75px;
        margin-left: -51px;
        background-color: transparent;
        font-size: 0;
        outline: none;
        border: none;
        animation: hvr-bob 1s infinite linear;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 102px;
            height: 75px;
            background: url("../img/icon/initial_icon/icon__airplane.png") no-repeat;
        }
    }

    &__title {
        @include section-title(#fff, $blue);
    }

    &__photo {
        display: none;
    }

    &__text {}

    &__certification {
        width: 100%;
        text-align: center;
    }

    &__certificate {
        display: none;
    }

    &__link {
        @include link-reset;
        border-bottom: 1px solid rgba(0, 118, 254, 0.5);
        transition: 0.1s ease-in;

        &:hover {
            color: $gray;
            border-bottom: 1px solid rgba($gray, 0.5);
        }
    }

    @media #{$tablet-width} {

        &__content {
            margin: auto;
        }

        &__inner {
            float: right;
            width: 50%;
            padding: 20px;
        }

        &__photo {
            display: block;
            float: left;
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 80%;
        }

        &__certificate {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 20%;
            margin-right: 10px;

            img {
                position: relative;
                width: 100%;
                filter: grayscale(100%);
                transition: transform 0.2s ease-in, filter 0.2s ease-in;
            }

            &:hover img {
                filter: grayscale(0);
                transform: translate3d(0, -5px, 0);
            }
        }
    }

    @media #{$mobile-height} {

      &__certificate {
            display: none;
      }
    }
}
