.features {
    @include section-height;
    background-color: #FFF;
    color: $blue;
    font-family: $incon-bol;
    font-size: $fs-m;
    line-height: 1.2;

    &__content {
        @include content-align;
        width: 100%;
    }

    &__title-wrap {
        @include container;
    }

    &__title {
        position: relative;
        margin-top: 3vh;
        margin-bottom: 7%;
        padding-left: 5vh;
        font-family: $din-bol;
        font-size: $fs-m;
        line-height: $lh-s;
        color: $gray;

        &:after {
            content: "";
            position: absolute;
            top: 34%;
            left: 1.2%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $blue;
        }
    }

    &__skills {
        @include container;
        // width: 300px;
        margin-bottom: 10vh;
        overflow: hidden;
    }

    &__instruments {
        margin-bottom: 60px;
    }

    &__items-wrap {
        width: 100%;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        margin-bottom: 10px;
        color: $gray;
        
        &:nth-child(2) {
            margin-top: 10px;
        }
    }

    &__icon {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 0 3%;
        border: 6px solid transparent;

        &--tilt {
            transform: rotate(45deg);
        }
    }

    &__img {
        position: absolute;
        width: 50px;
        top: 37px;
        margin: 0 auto;
        color: $blue;

        &--progressive {
            top: 0;
            left: 10px;
            transform: rotate(-45deg);
        }

        &--adaptive {
            top: 4px;
            left: 9px;
        }

        &--sparks {
            left: 15px;
        }

        &--mobile {
            width: 25px;
            left: 21px;
            top: 2px;
        }
    }

    &__text {
        display: inline-block;
        font-size: $fs-s;
        text-align: center;
        color: $blue;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        padding: 0; 
        color: $dgray;
        font-family: $incon;
        font-size: $fs-s;
    }

    &__list-item {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 15px;
        line-height: 1.5;
        color: $dgray;
        border: 1px solid $gray;
        border-radius: 3px;
        padding: 6px 10px;
        

    }

    @media #{$tablet-width} {

        &__title {
            margin-top: 4%;
            margin-bottom: 15%;
            margin-right: 52%;
            text-align: right;
            font-size: $fs-l;
            line-height: $lh-l;
    
            &:after {
                top: 45%;
                left: 103%;
            }
        }

        &__about {
            margin-bottom: 10%;
            text-align: right;
            font-size: $fs-s;
        }

        &__about--courses {
            width: 60%;
            text-align: center; 
        }

        &__skills {
            margin-bottom: 5%;
        }

        &__list {
            display: none;
        }

        &__items-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            width: auto;
        }

        &__item {
            display: block;
            margin: 0 auto;
            color: $gray;
        }

        &__icon {
            display: block;
            width: 132px;
            height: 132px;
            margin: 0 auto 12%;
            border: 6px solid $blue;

            &--tilt {
                transform: rotate(45deg);
            }
        }

        &__img {
            position: absolute;
            top: 37px;
            margin: 0 auto;
            color: $blue;

            &--progressive {
                width: 104px;
                top: 25px;
                left: 10px;
                transform: rotate(-45deg);
            }

            &--adaptive {
                width: 98px;
                top: 27px;
                left: 9px;
            }

            &--sparks {
                left: 15px;
            }

            &--mobile {
                width: 40px;
                left: 41px;
                top: 28px;
            }
        }

        &__text {
            font-size: $fs-m;
        }
    }

    @media #{$mobile-height} {

        &__title {
            margin-top: 2%;
            margin-bottom: 2%;
        }

        &__skills {
            margin-bottom: 4%;
        }
    }
}

.skills {
    display: none;

    @media #{$tablet-width} {
        display: block;
        position: relative;
        width: 100%;
        height: 47px;
        margin-bottom: 100px;
        overflow: hidden;

        &__scroll {
            position: absolute;
            display: block;
            // width: 200%;
            height: 47px;
            animation: marquee 30s linear infinite;
        }
    }
}
