.features {
    display: block;
    background-color: $white;
    color: $black;
    
    @extend %container;
    @extend %clearfix;
    
    &__item-wrap {
        // @extend %clearfix;
        
        // float: left;
        
        // width: $col-3;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        
        margin-bottom: 70px;  
    } 
    &__item {
      flex: 1 1 150px;
      margin: 0 20px;
      
      color: $gray;
      font-family: $ptmono;
    }
    .features__icon {
        position: relative;
        
        display: block;
        vertical-align: baseline;
        
        width: 140px;
        height: 140px;
        margin: 0 auto; 
        margin-bottom: 30px; 
        -webkit-border-radius: 100%;
                border-radius: 100%;
        
        background-color: $peach;
    }
    .features__icon:after {
        content: "";
        
        position: absolute;
        top: 20px;
        left: 20px;
        
        width: 200px;
        height: 100px;
        
        background: url("../img/icon/spritesheet.png") no-repeat;
    } 
    .features__icon--progressive:after {
     background-position: -2px -193px;
    }
    .features__icon--adaptive:after {
     margin-left: -50px;
     
     background-position: 0px -9px;
    }
    .features__icon--mobile:after {
     background-position: 25px -103px;;
    }
    &__text {
      text-align: center;
    } 
} 


.skills {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    
    overflow: hidden;
    
    color: $black;
    
    font-family: $gotham-med;
    font-size: 40px;
    line-height: 1.2;

    &__bg {
        width: 100%;
        height: 100px;
        display:inline-block;
        position: relative;
    }
    &__scroll {
        position: absolute;
        left: 0;
        
        background-position: 10px 0;
        background-repeat: no-repeat;
        
        width: 100%;
        height: 100px;
        
        transition: all 20s linear 0s;
        -webkit-transition: all 20s linear 0s;
        -moz-transition: all 20s linear 0s;
        -ms-transition: all 20s linear 0s;
        -o-transition: all 20s linear 0s;
    }
} 
.skills__bg:hover .skills__scroll{
            background-position: -4600px 0!important;
            }
