.page-footer {
    position: relative;
    z-index: 30;
    display: flex;
    height: 80px;
    margin-top: -70px;
    background: transparent;
    color: $blue;
    font-family: $incon-bol;
    font-size: $fs-xs;
    text-align: center;
    text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff;

    &__content {
        @include container;
        padding: 12px 0;
    }

    &__title {
        display: none;
        @include indent-reset;
        margin-bottom: 20px;
    }

    &__item {
        position: relative;
        display: inline-block;

        &:not(:first-child)::after {
            content: "/";
            position: absolute;
            top: 0;
            left: -20px;
        }

        ul {
            @include ul-reset;
        }
    }

    &__link {
        margin-right: 20px;
        @include link-reset;
        border-bottom: 1px solid rgba(0, 118, 254, 0.5);
        font-size: 14px;
        transition: 0.1s ease-in;

        &:hover {
          color: $gray;
          border-bottom: 1px solid rgba($gray, 0.5);
        }
    }

    @media #{$tablet-width} {
        font-size: 80%;
        height: 120px;
        margin-top: -120px;
        background: #fff;
        font-size: $fs-xs;
        text-shadow: none;

        &__content {
            padding: 30px 0;
        }

        &__title {
            display: block;
        }

        &__link {
            margin-right: 30px;
            @include link-reset;
            border-bottom: 1px solid rgba(0, 118, 254, 0.5);
        }
    }

    @media #{$mobile-height} {
        height: 80px;
        margin-top: -80px;
        background: transparent;

        &__title {
            display: none;
        }

        &__link {

            &:hover {
              color: #fff;
              border-bottom: 1px solid rgba(#fff, 0.5);
            }
        }
    }
}
