.page-footer {
  width: 100%;
  height: 110px;
  padding: 40px 20px;
  text-align: center;
  background-color: $blue;
  color: white;
  font-family: $incon-bol;
  font-size: $fs-xs;
  &__title {
    @include indent-reset;
    margin-bottom: 20px;
  }
  &__item {
    position: relative;
    display: inline-block;
    &:not(:first-child)::after {
      content: "/";
      position: absolute;
      top: 0;
      left: -20px;
    }
    ul {
      @include ul-reset;
    }
  }
  &__link {
    margin-right: 30px;
    @include link-reset;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}
