.page-header {
    position: fixed;
    z-index: 200;
    width: 100%;
    min-height: 60px;
    transition: transform 0.3s ease-in-out;

    &__inner {
        position: relative;
    }

    &__mobile {
        position: relative;
        z-index: 200;
        height: 60px;
        padding: 10px 6.25%;
        background-color: #fff;
        border-bottom: 2px solid $blue;
    }

    &--hidden {
        transform: translateY(-110%);
    }

    @media #{$tablet-width} {

        &__mobile {
            display: none;
        }
    }
}
