.main-nav {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 60px;

  background-color: white;
  color: white;

  font-family: $incon-bol;
  font-size: $fs-xs;
  text-transform: uppercase;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-center;
    justify-content: space-around;
    @include ul-reset;
    @include container;
    box-sizing: content-box;
  }

  &__item {
    // display: inline-block;
    // vertical-align: baseline;
    // min-width: 120px;
    
    a {
      display: block;
      text-decoration: none;

      color: $blue;

      line-height: 60px;
    }
    // a::before {
    //   content: attr(data-hover);
    //   position: absolute;
    //   color: white;
    //   transition: transform 0.3s, opacity 0.3s;
    // }
    // a:hover::before {
    //   transform: scale(0.2);
    //   opacity: 0;
    // }
  }

  &__item:last-child {
    margin-right: 0;
  }
  
  &__item--active {
    background-color: white;
    a {

      &::before {
        color: $gray;
      }
    }
  }
}
