.main-nav {
  position: absolute;
  top: 60px;
  z-index: 100;
  width: 100%;
  min-height: 60px;
  background-color: white;
  color: white;
  font-family: $din;
  font-size: $fs-xs;
  text-transform: uppercase;
  letter-spacing: 3px;

  &__list {
    @include ul-reset;
    box-sizing: content-box;
    text-align: center;
  }

  &__item {
    display: block;
    border-bottom: 2px solid $blue;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-link {
    display: block;
    text-decoration: none;
    color: $blue;
    line-height: 60px;
    transform: translateZ(0);
    backface-visibility: hidden;

    &:hover {
      animation-name: hvr-bob-float, hvr-bob;
      animation-duration: .3s, 1.5s;
      animation-delay: 0s, .3s;
      animation-timing-function: ease-out, ease-in-out;
      animation-iteration-count: 1, infinite;
      animation-fill-mode: forwards;
      animation-direction: normal, alternate;
    }

    &:active {
      color: $gray;
    }
  }

  &__item-link--current {
    color: $gray;
  }

  @media #{$mobile-width} {
    margin: 0;
    transition: margin 0.5s ease-out;

    &--hidden {
      margin-top: -500px;
    }
  }

  @media #{$tablet-width} {
    // position: fixed;
    top: 0;
    display: flex;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      @include container;
      box-sizing: content-box;
    }

    &__item {
      display: block;
      border-bottom: none;
    }
  }
}
