.portfolio {
    @include section-height;
    background-color: $blue;
    color: #fff;

    &--no-js {
        height: auto;
    }

    &__content {
        @include container;
        @include content-align;
    }

    &__title {
      @include section-title($gray, #fff);
    }
}
