.slider {
    position: relative;
    min-height: 500px;
    margin-bottom: 30px;

    &__toggle {
        display: none;
    }

    &__items-wrap {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }

    &__items {
        display: flex;
        width: 700%;
        transition: transform 0.4s ease-in-out;

        &--no-js {
          display: block;
          width: auto;
        }
    }

    &__item {
        width: 25%;

        &--no-js {
          width: auto;
          margin-bottom: 50px;
        }
    }

    &__controls {
        width: 145px;
        height: 15px;
        margin: 4vh auto;
        font-size: 0;

        &--no-js {
          display: none;
        }
    }

    &__control {
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0.3;
        transition: opacity 0.4s;

        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__arrows {
        display: block;

        &--no-js {
          display: none;
        }
    }

    &__arrow {
        position: absolute;
        top: 40%;
        width: 29px;
        height: 2px;
        background-color: transparent;
        outline: none;
        border: 15px solid transparent;
        border-right: 15px solid #fff;
    }

    &__arrow--next {
        right: -25px;
        transform: rotate(180deg);
    }

    &__arrow--prev {
        left: -25px;
    }

    &__arrow--disabled {
        opacity: 0.3;
        pointer-events: none;
    }

    &__items--show-first {
        transform: translateX(0);
    }

    &__items--show-second {
        transform: translateX(-100%/7*1);
    }

    &__items--show-third {
        transform: translateX(-100%/7*2);
    }

    &__items--show-fourth {
        transform: translateX(-100%/7*3);
    }

    &__items--show-fifth {
        transform: translateX(-100%/7*4);
    }

    &__items--show-sixth {
        transform: translateX(-100%/7*5);
    }

    &__items--show-seventh {
        transform: translateX(-100%/7*6);
    }

    @media #{$tablet-width} {

        &__arrow {
            top: 45%;
            border-width: 20px;
        }

        &__arrow--next {
            right: 0;
        }
    }
}
