.slider {
    position: relative;
    min-height: 500px;
    margin-bottom: 30px;
    
    &__toggle {
        display: none;
    }

    &__items-wrap {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }
    
    &__items {
        display: flex;
        width: 400%;
        transition: transform 0.4s ease-in-out;
    }

    &__item {
        width: 25%;
    }
   
    &__controls {
        width: 80px;
        height: 15px;
        margin: 4vh auto;
        font-size: 0;
    }
    
    &__control {
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0.3;
        transition: opacity 0.4s;
        
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__arrows {
        display: block;
    }

    &__arrow {
        position: absolute;
        top: 40%;
        background-color: transparent;
        border: none;
        outline: none;
        
        &::after {
            content: "";
            position: absolute;
            right: 10px;
            width: 29px;
            height: 2px;
            border: 20px solid transparent;
            border-right: 20px solid #fff;
        }
    }

    &__arrow--next {
        right: -44px;
        
        &::after {
            transform: rotate(180deg);
        }
    }

    &__arrow--disabled {

        &::after {
            pointer-events: none;
            opacity: 0.3;
        }
    }

    &__items--show-first {
        transform: translateX(0);
    }

    &__items--show-second {
        transform: translateX(-25%);
    }

    &__items--show-third {
        transform: translateX(-50%);
    }

    &__items--show-fourth {
        transform: translateX(-75%);
    }
    

    @media #{$tablet-width} {

        &__arrow {
            top: 45%;

            &::after {
                right: -5px;
            }
        }

        &__arrow--next {
            right: 0;
        }
    }
}
